.container {
  height: 90vh;
  position: absolute;
  top: 50px;
  transform: translateY(100%);
  width: 100%;
  transition: 0.7s ease;
  .header-title {
    margin-top: 4vh;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.activeContainer {
  transform: translateY(0%);
}

@media screen and (min-width: 900px) {
  .container,
  nav {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  header {
    max-width: 50%;
    margin: 0 auto;
  }
}
